.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {
    left: 7px;
}
*{margin:0px; padding:0px;}

body{
    background-color: #2196F3 !important;
    width:100%;
    height:100%;
}
#contpizarra{

    overflow: hidden;
    z-index: 10;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background: #E2E4E6;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y : scroll;
    overflow-x: scroll;
    margin: 5px

}
#contenedor{
    background-color: #2196F3;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);

}
.ngdialog.dialogwidth800 .ngdialog-content{
    width : 800px;
}
#modal{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
}
.modal{
    align-content: center;
    top: 5px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 100%;
    min-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    margin: 5px !important;
}
.panelbody{
    width:100%;
    height:78%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    border-top-width: 0px;
}

.item{
    background-color: rgba(63,81,181,1);
    border-radius:5px;

    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    text-align: center;
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    text-align: center;
    text-decoration:none;
    border: none;
    outline: none;
}
.item span{
    align-content: center;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 36px;
}

#item:hover {
    background-color: rgb(73, 86, 181);
    color: white;
}
.columnas{
    border: 1px dashed #ccc;
    padding: 10px;
    width: 100%;
    /*margin-bottom: 10px;*/

}


.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;  width: 100%; }

.md-color-picker-dialog ._md .md-transition-in{
    z-index: 3 !important;
    position: absolute !important;

}
.ngdialog {
    z-index: 20 !important;
}
.ngdialog-content{
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 0px !important;
}
.ngdialog.ngdialog-theme-default{
    padding-bottom: 160px !important;
    padding-top: 5% !important;
}

textarea {
    resize: none;
}
.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}
.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}
md-input-container{
    width: 100%;
}
